{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="user-page">
    <div class="banner">
        <img src="{{ asset('images/banner.jpg') }}" alt="">
        <div class="user-pic">
            <img src="{{ asset('images/User-1.jpg') }}" alt="">
        </div>
    </div>
    <div class="user-container">
        <div class="user-info">
            <div class="edit-btns">
                <a href="{{path('app_user_skill', {'id': user.id})}}">Cancel</a>
            </div>
            {{ form_start(formEditUser) }}
            <h3>Name :</h4>{{ form_row(formEditUser.name) }}{{" "}}{{ form_row(formEditUser.forename) }}
            <h3>Pseudo :</h4>{{ form_row(formEditUser.pseudo) }}
            <h4>Country :</h4>{{ form_row(formEditUser.country) }}
            <h4>City :</h4>{{ form_row(formEditUser.city) }}
            <h4>About Me :</h4>{{ form_row(formEditUser.biography) }}
            <h4>Skills :</h4>{{ form_row(formEditUser.userSkills) }}
            {{ form_row(formEditUser.submit) }}
            {{ form_end(formEditUser) }}
        </div>
        <div class="user-exp">
            <div class="exp-left">
                {# {% for skill in userSkill %}
                    <p>{{ skill }}</p><a href="{{path('delete_skill', {'id': skill.id})}}">Delete</a><br>
                {% endfor %} #}
            </div>
            <div class="exp-right">
                {# {{form_start(skillForm)}}
                    {{form_row(skillForm.user)}}
                    {{form_row(skillForm.skills)}}
                    {{form_row(skillForm.levels)}}
                    {{form_row(skillForm.submit)}}
                {{form_end(skillForm)}} #}
            </div>
        </div>
    </div>
</div>

{% endblock %}

