{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="user-page">
    <div class="banner">
        <img src="{{ asset('images/banner.jpg') }}" alt="">
        <div class="user-pic">
            {% if user.profilePic %}
                <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePic) }}" alt="{{ user.name }}{{" "}}{{ user.forename }}'s Profile Pic">
            {% else  %}
                <img src="{{ asset('images/default_user.jpg') }}" alt="Default profile pic">
            {% endif %}
        </div>
    </div>
    <div class="user-container">
        <div class="user-info">
            <div class="edit-btns">
                <a href="{{path('app_user_skill', {'id': user.id})}}">Cancel</a>
            </div>
            {{ form_start(formEditUser) }}
            <h3>Name :</h4>{{ form_row(formEditUser.name) }}{{" "}}{{ form_row(formEditUser.forename) }}
            <h3>Pseudo :</h4>{{ form_row(formEditUser.pseudo) }}
            <h4>Country :</h4>{{ form_row(formEditUser.country) }}
            <h4>City :</h4>{{ form_row(formEditUser.city) }}
            <h4>About Me :</h4>{{ form_row(formEditUser.biography) }}
            <h4>Skills :</h4>{{ form_row(formEditUser.userSkills) }}
            {{ form_row(formEditUser.profile_pic, {'label': 'Profile Pic'},mapped:false,attr:{onchange:"previewImage(this);"}) }}
            {{ form_row(formEditUser.submit) }}
            {{ form_end(formEditUser) }}
        </div>
        <div class="user-exp">
            <div class="exp-left">
            </div>
            <div class="exp-right">
            </div>
        </div>
    </div>
</div>

{% endblock %}

